* {
    background-color: whitesmoke;
}

.wrapper {
    display: flex;
    margin: auto;
    margin-top: 100px;
    width: 700px;
    height: 600px;
    border: 1px black solid;
}

.smartphone {
    margin: auto;
}

.smartphone img {
    background-image: url("studygram.png");
    border: 1px solid;
}

.flexbox {
    display: flex;
    background-color: white;
    width: 300px;
    height: 500px;
    border: 1px black solid;
    margin: auto;
    padding: 10px;
    flex-direction: column;
}

#logotype {
    display: flex;
    font-family: 'Bungee Shade', cursive;
    font-size: 25px;
    color: darkblue;
    background-color: white;
    justify-content: center;
}

#dados {
    display: flex;
    width: 300px;
    height: 90px;
    border: 1px solid;
    background-color: white;
}

.campo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 7px;
    background-color: whitesmoke;
    height: 30px;
    border: 1px solid;
    border-radius: 3px;
}

.campo p {
    font-size: small;
    color: gray;
}

.btn {
    background-color: darkblue;
    color: white;
    width: 300px;
    justify-content: center;
    margin-top: 15px;
    border-radius: 3px;
}